<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <conversionRule conversionWord="clr"
    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

  <!--콘솔 로그 출력 패턴-->
  <property name="CONSOLE_LOG_PATTERN"
    value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){magenta} %clr([%thread]){blue} %clr(%-5level){}
        %clr([%logger{0}:%line]){cyan} : %msg %n"/>

  <!--파일 로그 출력 패턴-->
  <property name="FILE_LOG_PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %5level %logger - %msg%n"/>

  <!--local 환경-->
  <springProfile name="local">
    <include resource="console-appender.xml"/>

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>

    <!--SQL, Hibernate bind되는 변수 콘솔에 출력-->
    <logger level="DEBUG" name="org.hibernate.SQL">
      <appender-ref ref="CONSOLE"/>
    </logger>

    <logger level="TRACE" name="org.hibernate.orm.jdbc.bind">
      <appender-ref ref="CONSOLE"/>
    </logger>

    <logger level="TRACE" name="org.hibernate.type.descriptor.sql.BasicBinder">
      <appender-ref ref="CONSOLE"/>
    </logger>
  </springProfile>

  <!--dev 환경-->
  <springProfile name="dev">
    <include resource="file-info-appender.xml"/>

    <root level="INFO">
      <appender-ref ref="FILE-INFO"/>
    </root>

    <!--SQL, Hibernate bind되는 변수 파일에 출력-->
    <logger level="TRACE" name="org.hibernate.orm.jdbc.bind">
      <appender-ref ref="FILE-INFO"/>
    </logger>

    <logger level="TRACE" name="org.hibernate.type.descriptor.sql.BasicBinder">
      <appender-ref ref="FILE-INFO"/>
    </logger>
  </springProfile>

  <!--prod 환경-->
  <springProfile name="prod">
    <include resource="file-info-appender.xml"/>

    <root level="INFO">
      <appender-ref ref="FILE-INFO"/>
    </root>
  </springProfile>
</configuration>